@model PrimaryBanner
<!-- Sub banner start -->
<div class="primary-banner" style="background-image: url(@Url.ContentUrl(Model.Image));">
    <div class="container">
        <div class="title-area">
            <h1>@Model.Title</h1>
            <h3>@Model.Subtitle</h3>
        </div>
    </div>
</div>